# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]

# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.vue]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.jsx]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[composer.json]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.key]
trim_trailing_whitespace = true
insert_final_newline = false

[*.csr]
trim_trailing_whitespace = true
insert_final_newline = false

[*.crt]
trim_trailing_whitespace = true
insert_final_newline = false
